$white: #FFF;
$boulder: #767676;
$silverChalice: #AAA;
$doveGray: #666;
$claret: #83122A;
$alto: #DDD;
$wildSand: #F4F4F4;

$textColor: $doveGray;
$lightText: $silverChalice;
$shadow: $claret;
$borderDropdown: $alto;
$bgDropdown: $wildSand;
$priceBubble: $alto;
$button: $silverChalice;
$buttonHover: $alto;
$buttonActive: $alto;
$layoutButton: $alto;
$layoutButtonHover: $doveGray;
$layoutButtonActive: $silverChalice;
$filterWrapper: $silverChalice;
$sliderThump: $boulder;
$sliderTrack: $alto;
