
@mixin fontSet ($font-size, $line-height: $font-size) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin position ($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
}

@mixin dimensions ($height, $width: $height) {
  height: $height;
  width: $width;
}

@mixin centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}